@model proyectoTWA.Models.Persona
@{
    ViewData["Title"] = "Registrar";
}

<h2>Register</h2>

<div class="form-horizontal">
    <form asp-controller="Home" asp-action="Registrar" method="post">
        @if (ViewBag.Message != null)
        {
            <div class="form-control">
                <div class="col-md-10">@ViewBag.Message</div>
            </div>
        }
        <div class="form-group">
            <label asp-for="Rut" class="col-md-2 control-label">RUT</label>
            <div class="col-md-10">
                <input asp-for="Rut" class="form-control" maxlength="9"/>
                <span asp-validation-for="Rut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nombre" class="col-md-2 control-label">Nombre</label>
            <div class="col-md-10">
                <input asp-for="Nombre" class="form-control" maxlength="25"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>   
        <div class="form-group">
            <label asp-for="ApellidoPaterno" class="col-md-2 control-label"> Apellido Paterno</label>
            <div class="col-md-10">
                <input asp-for="ApellidoPaterno" class="form-control" maxlength="25"/>
                <span asp-validation-for="ApellidoPaterno" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApellidoMaterno" class="col-md-2 control-label">Apellido Materno</label>
            <div class="col-md-10">
                <input asp-for="ApellidoMaterno" class="form-control" maxlength="25"/>
                <span asp-validation-for="ApellidoMaterno" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FechaNacimiento" class="col-md-2 control-label">Fecha de Nacimiento</label>
            <div class="col-md-10">
                <input type="date" asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label">Correo</label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" maxlength="100"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Administrador" class="col-md-2 control-label">¿Es un administrador?</label>
            <div class="col-md-10">
                <select asp-for="Administrador" class="form-control">
                    <option value="n">No</option>
                    <option value="s">Si</option>
                </select>
                <span asp-validation-for="Administrador" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label">Contraseña</label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" maxlength="50" id="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Confirmar Contraseña</label>
            <div class="col-md-10">
                <input class="form-control" maxlength="50" id="confirm_password"/>
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Registrar</button>
            </div>
        </div>
    </form>
</div>

<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("La contraseña no coincide");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
