@model proyectoTWA.Models.Archivo
@{
    ViewData["Title"] = "Subir Archivo";
}

<h2>Subir Archivo</h2>

<div class="form-horizontal">
    @if (ViewBag.Message != null)
    {
        <div class="form-control">
            <div class="col-md-10">@ViewBag.Message</div>
        </div>
    }
    <form asp-action="AddFiles" asp-controller="Archivo" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="NombreArchivo" class="col-md-2 control-label">Nombre</label>
            <div class="col-md-10">
                <input asp-for="NombreArchivo" class="form-control" />
                <span asp-validation-for="NombreArchivo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Estado" class="col-md-2 control-label">Estado</label>
            <div class="col-md-10">
                <select asp-for="Estado" class="form-control">
                    <option value="privado">Privado</option>
                    <option value="publico">Publico</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <input type="file" name="files" />
        </div>
        <div class="form-group">
            <input type="submit" value="Subir" />
        </div>
    </form>
</div>